body{
    
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
h1{
    font-size: 50px;
    color: gray;
    text-align: center;
}
.gray{
    color: black;
}
.teal{
    color: black;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.half-width img{
    width: 100%;
    padding-top: 10px;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(orange, yellow);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;


}
.top-banner{
    height: 10px;
    
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
} 